<h2> Log In </h2>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>
<div class="container center">
<div class="row card-panel">
  <div class="col s12 m6 center offset-s0 offset-m3">

    <form action="/login" method="post">
      <div class='input-field'>
        <label for="username-input"> Username </label>
        <input class='validate' type="text" name="username" id="username-input"

      </div>

      <div class='input-field'>
        <label for="password-input"> Password </label>
        <input class='validate' type="password" name="password" id="password-input"

      </div>

      <button class='waves-effect waves-light btn'> Log In </button>
    </form>

    <p>
      Don't have an account?
      <a href="/signup">
        Create an account.
      </a>
    </p>
  </div>

</div>
</div>
