<a href='/workouts/new' id='add-new-workout-link' class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<h2>ALL WORKOUTS:</h2>

  <% workouts.forEach( workout =>{ %>

    <a href="workouts/<%= workout._id %>">
    <div class='card-panel hoverable'>

        <%= workout.name %>
    </div>
  </a>

  <% }) %>
