<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/">Home </a> </li>
        <li> <a href="/users">Users </a> </li>
        <li> <a href="/workouts"> workouts </a> </li>
        <li> <a href="/exercises"> exercises </a> </li>
      </ul>

    </nav>

    
    <%- body -%>
  </body>
</html>
