body {
  background: #f4f4f4;
  text-align: center;
}
/*nav{
  background-color: #1ABC9C;
}*/

a {
  color: #00B7FF;
  text-decoration: none;
}

#choose-exercise{
  position: absolute;
  top: 35%;
  left: 35%;
  width: 300px;
  height: 300px;
}
#choose-exercise #add{
  position: relative;
  top:40px;
}
#new-workout-form .add-exercise{
  display: inline;
  cursor: pointer;
  background-color: #eee;
  padding: 5px;
}

#main-content{
  margin-top:50px;
}

#add-new-workout-link{
  position: fixed;
  bottom:10%;
  right: 5%;
  transform: scale(1.5);
}
#add-new-workout-link-2{
  float:right;
}



/*.card-panel:hover{
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}*/

.profile-picture{
  border-radius: 50%;
  width: 60%;
  top: -70px;
  left: 20%;
  margin-bottom: -100px;
  position: relative;
}
select{
  display: block;
}

.exercise-img img{
  width: 48%;
  border-radius: 4px;
}

#new-workout-send{
  position: relative;
  top: -40px;
  left: 40%;
}
td{
  padding: 2px;
  text-align: right;
}
h4{
  text-align: left;
}
