body {
  background: #3498DB;
  text-align: center;
}
nav{
  background-color: #1ABC9C;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#choose-exercise{
  position: absolute;
  top: 35%;
  left: 35%;
  width: 300px;
  height: 300px;
  background-color: #eee;
  padding: 50px;
}
#new-workout-form .add-exercise{
  display: inline;
  cursor: pointer;
  background-color: #eee;
  padding: 5px;
}

#main-content{
  margin-top:50px;
}


.card-panel:hover{
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.profile-picture{
  border-radius: 50%;
  width: 50%;
  top: -70px;
  margin-bottom: -100px;
  position: relative;
}
select{
  display: block;
}
