<h2>All exercises:</h2>

  <% exercises.forEach( exercise =>{ %>

    <a href="exercises/<%= exercise.name %>">
    <div class='card-panel  z-depth-1'>
        <%= exercise.name %>
    </div>
  </a>

  <% }) %>
