<h2>ALL USERS:</h2>

<% users.forEach( user =>{ %>

<div class="row">
  <a href="users/<%= user._id %>">

    <div class="chip user-chip amber">
      <img src="<%= user.img %>"
      alt="profile-picture">
      <%= user.name %>
      <div class="chip orange" style='transform:scale(.8)'>

        <img src="/images/d.png" alt="dumbbell" style='transform:scale(.8)'> <%= user.upvotes %>
      </div>
    </div>
  </a>

</div>


<% }) %>
